<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" />
    </head>
    <body>
        <div class="container" id="PechangaRoot">
            <div id="tabs">
                <ul>
                    <li><a href="#tab-overview">Overview</a></li>
                    <li><a href="#tab-client">Client Login</a></li>
                    <li><a href="#tab-admin">Admin</a></li>
                    <div id="tab-overview">

                    </div>
                    <div id="tab-client">

                    </div>
                    <div id="tab-admin">

                    </div>
                </ul>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" 
        integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" 
        crossorigin="anonymous"></script>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="/js/webclient.js"></script>
    <script>
        $(document).ready(() => {
            const client = new PechangaClient(document.getElementById('PechangaRoot'));

            client.render();
        })
    </script>
</html>
